#u21854-6,#u21899-2,#u1319-4,#u1334-2,#u1325-2,#u1333-2,#u1326-2
{
	font-family: muli-n4, sans-serif;
}

#u21722-4,#u21710-4,#u21719-2
{
	font-family: muli-n3, sans-serif;
}

#u21681-4,#u25277-6,#u25291-7,#u25283-6,#u25287-6,#u25286-6,#u25288-6,#u25408-6,#u25402-7,#u25411-6,#u25419-6,#u25418-6,#u25416-6,#u25307-6,#u25301-7,#u25310-6,#u25318-6,#u25317-6,#u25315-6,#u25357-6,#u25355-7,#u25364-6,#u25366-6,#u25369-6,#u25370-6,#u25331-6,#u25329-7,#u25338-6,#u25340-6,#u25343-6,#u25344-6,#u25376-6,#u25390-7,#u25394-6,#u25383-6,#u25380-6,#u25381-6,#u5260-4,#u5256-4,#u5254-4,#u5251-4,#u5203-4,#u5215-4,#u5218-4,#u5224-4,#u5248-4,#u5241-4,#u25568-6,#u25566-7,#u25557-6,#u25555-6,#u25551-6,#u25553-6,#u25507-6,#u25514-7,#u25516-6,#u25504-6,#u25503-6,#u25501-6,#u25538-6,#u25544-7,#u25534-6,#u25531-6,#u25530-6,#u25528-6
{
	font-family: muli-n4, sans-serif;
}

