#u21854-6,#u21899-2,#u1319-4,#u1334-2,#u1325-2,#u1333-2,#u1326-2
{
	font-family: muli-n4, sans-serif;
}

#u1170-4,#u1173-6,#u1194-4
{
	font-family: nunito-n4, sans-serif;
}

#u1172-8,#u1175,#u1175-3,#u1175-5,#u1175-7,#u1175-9,#u1175-11,#u1175-13,#u1175-14,#u1175-16,#u1175-18,#u1175-20,#u1175-21,#u1175-23,#u1175-25,#u1175-27,#u1175-29,#u1175-31,#u1175-33,#u1175-35,#u1176,#u1176-3,#u1176-5,#u1176-7,#u1176-9,#u1176-11,#u1176-12,#u1176-14,#u1176-16,#u1176-18,#u1176-20,#u1176-21,#u1176-23,#u1176-25,#u1193-8,#u1191,#u1191-3,#u1191-5,#u1191-7,#u1191-9,#u1191-11,#u1191-13,#u1191-14,#u1191-16,#u1191-18,#u1191-20,#u1191-22,#u1191-24,#u1191-26,#u1191-28,#u1191-30,#u1191-32,#u1192,#u1192-3,#u1192-5,#u1192-7,#u1192-9,#u1192-11,#u1192-13,#u1192-15,#u1192-16,#u1192-18,#u1192-20
{
	font-family: nunito-n3, sans-serif;
}

