#u21854-6,#u21899-2,#u1319-4,#u1334-2,#u1325-2,#u1333-2,#u1326-2
{
	font-family: muli-n4, sans-serif;
}

#u24543-4
{
	font-family: muli-n3, sans-serif;
}

#u24501-4,#u25600-4
{
	font-family: muli-n4, sans-serif;
}

#u25601-4
{
	font-family: muli-n4, sans-serif;
}

#u25602-4
{
	font-family: muli-n4, sans-serif;
}

#u24526-4
{
	font-family: muli-n4, sans-serif;
}

#u24581-4
{
	font-family: muli-n4, sans-serif;
}

#u24501-2,#u24521-2,#u24483-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u24521-4,#u24497-4,#u24499-4
{
	font-family: muli-n4, sans-serif;
}

#u24484-2,#u24484-4,#u24462-4,#u24500-4,#u24523-4
{
	font-family: muli-n4, sans-serif;
}

#u24524-4
{
	font-family: nunito-n3, sans-serif;
}

