#u13869-4
{
	font-family: muli-n4, sans-serif;
}

#u13892-4,#u13482-4,#u13483-2,#u13486-2,#u13481-2,#u13497-2
{
	font-family: muli-n4, sans-serif;
}

#u23294-4,#u23291-2
{
	font-family: muli-n3, sans-serif;
}

#u23306-4,#u23304-4,#u23308-4,#u23474-14,#u24849-4,#u23324-4,#u24686-4,#u23329-4,#u24860-6,#u24861-6,#u24862-6,#u24863-6,#u24864-6,#u24853-4,#u24855-4,#u27864-4
{
	font-family: muli-n4, sans-serif;
}

#u27863-4,#u25199-4,#u25211-6,#u25213-6,#u25212-6,#u25206-7,#u25244-4,#u25242-6,#u25240-6,#u25241-6,#u25248-7,#u27925-4,#u27919-6,#u27920-6,#u27923-6,#u27917-7,#u27937-4,#u27934-6,#u27933-6,#u27931-6,#u27942-7
{
	font-family: muli-n4, sans-serif;
}

#u19044-4,#u19112-4,#u19046-4,#u19114-4,#u19110-4,#u18965-4
{
	font-family: muli-n4, sans-serif;
}

#u18963-2,#u18964-2,#u19123-4,#u18959-4,#u19120-4
{
	font-family: muli-n4, sans-serif;
}

