#u21854-6,#u21899-2,#u1319-4,#u1334-2,#u1325-2,#u1333-2,#u1326-2
{
	font-family: muli-n4, sans-serif;
}

#u22005-4,#u22008-4,#u22002-4,#u21986-4,#u24312-4,#u24396-4,#u24316-4,#u24359-4,#u24351-4,#u24346-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22003-4,#u24401-4,#u24393-4,#u24314-4,#u24361-4,#u24399-4,#u24352-4,#u24357-4,#u24344-4,#u24341-4,#u24330-4,#u22202-4,#u24655-4,#u22307-4
{
	font-family: nunito-n3, sans-serif;
}

#u22243-4,#u22210-4,#u24655-7,#u24660-4,#u22314-4,#u22348-7
{
	font-family: muli-n4, sans-serif;
}

#u22928-6,#u22930-6,#u22932-6,#u22931-6,#u22381-7
{
	font-family: muli-n4, sans-serif;
}

#u21984-4,#u24317-4,#u24335-4,#u22255-4,#u22256-4,#u24656-4,#u24661-4,#u22302-4,#u22303-4,#u22338-4,#u22337-4,#u22383-4,#u22387-4,#u24841-4,#u24842-4
{
	font-family: muli-n3, sans-serif;
}

#u22441-6,#u22446-6,#u22447-6,#u22951-6,#u22971-4,#u22952-6,#u22945-6,#u22947-6,#u25095-4,#u25079-6,#u25081-6,#u25080-6,#u25083-7,#u25024-6,#u25034-7,#u25046-6,#u25025-6,#u25028-6,#u25020-6,#u25874-6,#u25864-6,#u25860-6,#u25862-6,#u25866-7,#u24919-6,#u24908-6,#u24907-6,#u24917-6,#u24911-6,#u24906-4,#u24909-4,#u24916-4,#u25634-4,#u25633-4,#u25640-4,#u25628-6,#u25630-6,#u25627-6,#u25631-6,#u25629-6
{
	font-family: muli-n4, sans-serif;
}

