#u21854-6,#u21899-2,#u1319-4,#u1334-2,#u1325-2,#u1333-2,#u1326-2
{
	font-family: muli-n4, sans-serif;
}

#u22783-4
{
	font-family: muli-n3, sans-serif;
}

#u22795-4,#u22793-2,#u22799-2,#u22800-2,#u22802-2
{
	font-family: league-gothic-n4, sans-serif;
}

#u20313-4
{
	font-family: nunito-n3, sans-serif;
}

#u22796-4,#u22801-2,#u22801-4,#u22793-4,#u22799-6,#u22800-6,#u22802-4,#u19917-4,#u19929-4,#u20314-4,#u25657-6,#u25660-7,#u25644-6,#u25650-6,#u25652-6,#u25651-6,#u25683-6,#u25686-7,#u25679-6,#u25671-6,#u25670-6,#u25672-6,#u25700-6,#u25704-7,#u25712-6,#u25696-6,#u25694-6,#u25695-6
{
	font-family: muli-n4, sans-serif;
}

