#u13869-4
{
	font-family: muli-n4, sans-serif;
}

#u13892-4,#u13482-4,#u13483-2,#u13486-2,#u13481-2,#u13497-2
{
	font-family: muli-n4, sans-serif;
}

#u24894-4,#u24897-4,#u24890-4,#u24865-4,#u23575-4
{
	font-family: muli-n4, sans-serif;
}

#u23577-4
{
	font-family: muli-n4, sans-serif;
}

#u23834-4,#u23827-2
{
	font-family: muli-n3, sans-serif;
}

#u25194-4,#u25186-6,#u25190-6,#u25187-6,#u25182-7,#u23811-4,#u23809-4,#u23807-4,#u25619-4,#u25620-4,#u25618-4,#u25612-6,#u25610-6,#u25611-6,#u25613-6,#u25609-6,#u23760-4
{
	font-family: muli-n4, sans-serif;
}

#u23762-4
{
	font-family: muli-n4, sans-serif;
}

#u23972-4
{
	font-family: muli-n4, sans-serif;
}

#u23971-2,#u23970-2,#u24001-4,#u24005-2,#u23997-4,#u23993-4,#u23980-4,#u23990-4,#u23984-4,#u23986-4
{
	font-family: muli-n4, sans-serif;
}

#u23974-4,#u23977-4
{
	font-family: muli-n3, sans-serif;
}

