#u13869-4
{
	font-family: muli-n4, sans-serif;
}

#u13892-4,#u13482-4,#u13483-2,#u13486-2,#u13481-2,#u13497-2
{
	font-family: muli-n4, sans-serif;
}

#u24894-4,#u24897-4,#u24890-4,#u24865-4,#u23575-4
{
	font-family: muli-n4, sans-serif;
}

#u23577-4
{
	font-family: muli-n4, sans-serif;
}

#u24735-4,#u24728-2
{
	font-family: muli-n3, sans-serif;
}

#u25118-4,#u25111-6,#u25113-6,#u25109-6,#u25105-7,#u25147-4,#u25155-6,#u25154-6,#u25156-6,#u25143-7,#u25167-4,#u25161-6,#u25162-6,#u25163-6,#u25171-7,#u24926-4,#u24931-4,#u24934-4,#u25004-4,#u25003-4,#u25005-4,#u24997-6,#u24992-6,#u24993-6,#u24996-6,#u24995-6,#u24799-4
{
	font-family: muli-n4, sans-serif;
}

#u24801-4
{
	font-family: muli-n4, sans-serif;
}

#u24179-4
{
	font-family: muli-n4, sans-serif;
}

#u24181-2,#u24182-2
{
	font-family: muli-n4, sans-serif;
}

#u24231-4
{
	font-family: muli-n3, sans-serif;
}

