#u21854-6,#u21899-2,#u1319-4,#u1334-2,#u1325-2,#u1333-2,#u1326-2
{
	font-family: muli-n4, sans-serif;
}

#u27455-2,#u27448-2,#u27453-2
{
	font-family: league-gothic-n4, sans-serif;
}

#u27382-4,#u27383-4,#u27384-4,#u27388-9,#u27389-9,#u27391-9
{
	font-family: muli-n3, sans-serif;
}

#u22394-4,#u26327-13,#u27455-4,#u27336-3,#u27337-2,#u27440-2,#u27442-2,#u27442-4,#u27442-6,#u27448-4,#u26185-5,#u27453-4,#u27431-4,#u27273-10,#u27400-3,#u27399-10,#u27401-3,#u27404-4,#u27403-3,#u27405-10,#u27388-5,#u27388-10,#u27388-12,#u27389-5,#u27389-10,#u27389-12,#u27391-5,#u27391-10,#u27391-12,#u27276-5,#u27413-7,#u27420-7
{
	font-family: muli-n4, sans-serif;
}

#u27413-4,#u27420-4
{
	font-family: nunito-n3, sans-serif;
}

#u27327-4,#u27459-4,#u27461-4,#u27462-4,#u27431,#u27388-2,#u27389-2,#u27391-2,#u27276-2,#u27378-3,#u27422-4
{
	font-family: muli-i3, sans-serif;
}

