#u23711
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u24892
{
	border-style: none;
	border-color: transparent;
	background-color: #33D1C2;
	position: relative;
}

#u24883_clip
{
	overflow: hidden;
}

#u24898
{
	border-style: none;
	border-color: transparent;
	background-color: #008AD5;
	position: relative;
}

#u24886
{
	border-style: none;
	border-color: transparent;
	background-color: #1E6B95;
	position: relative;
}

#u24894-4,#u24897-4,#u24890-4
{
	text-align: right;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u24866
{
	border-style: none;
	border-color: transparent;
	background-color: #33C98C;
	position: relative;
}

#u24868
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	position: relative;
}

#u24989
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	position: relative;
}

#u24865-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7F7F7F;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u23584-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FCFCFC;
	position: relative;
}

#u23557
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo2_small-599282a4aabd28e764c2852cbfa6cf6c.png") no-repeat center center;
	background-size: contain !important;
}

#accordionu23560wrapper
{
	display: inline;
	float: left;
	position: relative;
}

#u23575-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

#u23575-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
}

#u23575-4.AccordionPanelTabOpen p
{
	color: #008AD5;
	visibility: inherit;
}

#u23576
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u24882,#u24891,#u24893,#u24883,#u24895,#u24899,#u24896,#u24885,#u24887,#u24889,#u24867,#u23707,#accordionu23560,#u23574,#u23578
{
	position: relative;
}

#u23582,#u23581,#u23580,#u23579
{
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u23577-4
{
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u23586
{
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/tumblr_l7mdqfguzx1qculc7o1_500-u13893-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/tumblr_l7mdqfguzx1qculc7o1_500132x120.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

