#u23294-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u23296
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,5,8);
	-ms-transform: matrix(0,-1,1,0,5,8);
	-o-transform: matrix(0,-1,1,0,5,8);
	transform: matrix(0,-1,1,0,5,8);
	position: relative;
}

#u23297
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,3,6);
	-ms-transform: matrix(0,-1,1,0,3,6);
	-o-transform: matrix(0,-1,1,0,3,6);
	transform: matrix(0,-1,1,0,3,6);
	position: relative;
}

#u23298
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,6,9);
	-ms-transform: matrix(0,-1,1,0,6,9);
	-o-transform: matrix(0,-1,1,0,6,9);
	transform: matrix(0,-1,1,0,6,9);
	position: relative;
}

#u23285
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	position: relative;
}

#u23291-4
{
	color: #FFFFFF;
	position: relative;
}

#u23291-2
{
	font-size: 14px;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 300;
}

#u23290,#u23289,#u23288
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u23302
{
	border-style: none;
	border-color: transparent;
	background-color: #33D1C2;
	position: relative;
}

#u23301
{
	border-style: none;
	border-color: transparent;
	background-color: #008AD5;
	position: relative;
}

#u23309
{
	border-style: none;
	border-color: transparent;
	background-color: #1E6B95;
	position: relative;
}

#u23306-4,#u23304-4,#u23308-4
{
	text-align: right;
	font-size: 40px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u23474-14
{
	color: #747475;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u23474-2
{
	font-size: 48px;
	font-style: normal;
}

#u23474-4,#u23474-6,#u23474-8,#u23474-10,#u23474-12
{
	font-size: 14px;
}

#u23283,#u23328
{
	border-style: none;
	border-color: transparent;
	background-color: #33C98C;
	position: relative;
}

#u24686-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	color: #33C98C;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u23324-4,#u23329-4
{
	text-align: center;
	font-size: 10px;
	color: #33C98C;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u23325
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u24860-6,#u24861-6,#u24862-6,#u24863-6,#u24864-6
{
	text-align: center;
	font-size: 12px;
	color: #33C98C;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u24849-4,#u24853-4,#u24855-4
{
	text-align: center;
	line-height: 1;
	font-size: 13px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u23120-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FCFCFC;
	position: relative;
}

#accordionu27842wrapper
{
	display: inline;
	float: left;
	position: relative;
}

#u27864-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

#u27864-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
}

#u27864-4.AccordionPanelTabOpen p
{
	color: #008AD5;
	visibility: inherit;
}

#u27857
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u27862,#u27859,#u27861,#u27860
{
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u27863-4
{
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u23121
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo2_small-599282a4aabd28e764c2852cbfa6cf6c.png") no-repeat center center;
	background-size: contain !important;
}

#u23118
{
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/tumblr_l7mdqfguzx1qculc7o1_500-u13893-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/tumblr_l7mdqfguzx1qculc7o1_500132x120.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u23177-3
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u24671_clip,#u25200_clip,#u25203_clip
{
	overflow: hidden;
}

#u25250
{
	position: relative;
	background: transparent url("../images/hero-profile228x120.jpg") no-repeat right center;
	background-size: cover !important;
}

#u27926
{
	position: relative;
	background: transparent url("../images/hero-profile.jpg") no-repeat right center;
	background-size: cover !important;
}

#u25245,#u27915
{
	position: relative;
	background: transparent url("../images/images.jpg") no-repeat center center;
	background-size: cover !important;
}

#u23465,#u23466,#u25207,#u25236,#u27927,#u27938
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u27936
{
	position: relative;
	background: transparent url("../images/profile.jpg") no-repeat center center;
	background-size: cover !important;
}

#u25199-4,#u25244-4,#u27925-4,#u27937-4
{
	line-height: 1.1;
	color: #008AD5;
	font-size: 14px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25209,#u25238,#u27921,#u27930
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u25211-6,#u25213-6,#u25242-6,#u25240-6,#u27919-6,#u27920-6,#u27934-6,#u27933-6
{
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	font-size: 11px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u25212-6,#u25241-6,#u27923-6,#u27931-6
{
	font-size: 11px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25211-2,#u25213-2,#u25212-2,#u25242-2,#u25240-2,#u25241-2,#u27919-2,#u27920-2,#u27923-2,#u27934-2,#u27933-2,#u27931-2
{
	color: #FFBF33;
}

#u25211-4,#u25213-4,#u25212-4,#u25242-4,#u25240-4,#u25241-4,#u27919-4,#u27920-4,#u27923-4,#u27934-4,#u27933-4,#u27931-4
{
	color: #FFFFFF;
}

#u25210,#u25239,#u27922,#u27932
{
	border-style: none;
	border-color: transparent;
	background-color: #FFBF33;
	position: relative;
}

#u23292,#u23293,#u23295,#u23284,#u23286,#u23287,#u23299,#u23300,#u23305,#u23303,#u23307,#u23310,#u23312,#u23342,#u24671,#u24969,#u24968,#u24967,#accordionu27842,#u27856,#u27858,#u25197,#u25198,#u25200,#u25208,#u25202,#u25203,#u25235,#u25243,#u25237,#u25247,#u27913,#u27924,#u27918,#u27914,#u27928,#u27935,#u27929,#u27939
{
	position: relative;
}

#u23282,#u25205,#u25249,#u27916,#u27941
{
	border-style: none;
	border-color: transparent;
	background-color: #DDDDDD;
	position: relative;
}

#u27940
{
	position: relative;
	background: transparent url("../images/rcfm-profile-photo120x160.jpg") no-repeat center center;
	background-size: cover !important;
}

#u25206-7,#u25248-7,#u27917-7,#u27942-7
{
	line-height: 1.05;
	color: #7F7F7F;
	font-size: 9px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25206-5,#u25248-5,#u27917-5,#u27942-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u25206-5  span,#u25248-5  span,#u27917-5  span,#u27942-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.05;
}

#u25206,#u25248,#u27917,#u27942
{
	font-size: 8px;
	font-style: italic;
}

