#u13479
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo2_small-599282a4aabd28e764c2852cbfa6cf6c.png") no-repeat center center;
	background-size: contain !important;
}

#accordionu13848wrapper
{
	display: inline;
	float: left;
	position: relative;
}

#u13869-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

#u13869-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
}

#u13869-4.AccordionPanelTabOpen p
{
	color: #008AD5;
	visibility: inherit;
}

#u13870
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u15406,#u15404,#u15405,#u15407
{
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u13892-4
{
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u13893
{
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/tumblr_l7mdqfguzx1qculc7o1_500-u13893-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/tumblr_l7mdqfguzx1qculc7o1_500132x120.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u13480-3,#u13490-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FCFCFC;
	position: relative;
}

#u13482-4
{
	font-size: 14px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13483-2
{
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
}

#u13486-4,#u13481-4,#u13497-4
{
	font-weight: 700;
	position: relative;
}

#u13486-2,#u13481-2,#u13497-2
{
	font-size: 12px;
	font-family: muli, sans-serif;
}

#accordionu13848,#u13868,#u15403,#u13483-4,#u13494,#u13492
{
	position: relative;
}

