#u25194-4
{
	line-height: 1.1;
	color: #008AD5;
	font-size: 15px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25188
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u25186-6,#u25190-6
{
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	font-size: 11px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u25187-6
{
	font-size: 11px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25186-2,#u25190-2,#u25187-2
{
	color: #FFBF33;
}

#u25186-4,#u25190-4,#u25187-4
{
	color: #FFFFFF;
}

#u25189
{
	border-style: none;
	border-color: transparent;
	background-color: #FFBF33;
	position: relative;
}

#u25182-7
{
	line-height: 1.05;
	color: #7F7F7F;
	font-size: 9px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25182-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u25182-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.05;
}

#u25182
{
	font-size: 8px;
	font-style: italic;
}

#u23834-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u23833
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,5,8);
	-ms-transform: matrix(0,-1,1,0,5,8);
	-o-transform: matrix(0,-1,1,0,5,8);
	transform: matrix(0,-1,1,0,5,8);
	position: relative;
}

#u23831
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,3,6);
	-ms-transform: matrix(0,-1,1,0,3,6);
	-o-transform: matrix(0,-1,1,0,3,6);
	transform: matrix(0,-1,1,0,3,6);
	position: relative;
}

#u23832
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,6,9);
	-ms-transform: matrix(0,-1,1,0,6,9);
	-o-transform: matrix(0,-1,1,0,6,9);
	transform: matrix(0,-1,1,0,6,9);
	position: relative;
}

#u23827-4
{
	color: #FFFFFF;
	position: relative;
}

#u23827-2
{
	font-size: 14px;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 300;
}

#u23826,#u23824,#u23825
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u23805
{
	border-style: none;
	border-color: transparent;
	background-color: #33D1C2;
	position: relative;
}

#u25192_clip,#u25183_clip,#u24677_clip
{
	overflow: hidden;
}

#u23804
{
	border-style: none;
	border-color: transparent;
	background-color: #008AD5;
	position: relative;
}

#u23812
{
	border-style: none;
	border-color: transparent;
	background-color: #1E6B95;
	position: relative;
}

#u23811-4,#u23809-4,#u23807-4
{
	text-align: right;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25622
{
	border-style: none;
	border-color: transparent;
	background-color: #33C98C;
	position: relative;
}

#u25620-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	color: #33C98C;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25179,#u25615,#u25621
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u25619-4,#u25618-4
{
	text-align: center;
	font-size: 10px;
	color: #33C98C;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25616
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u25612-6,#u25610-6,#u25611-6,#u25613-6,#u25609-6
{
	text-align: center;
	font-size: 12px;
	color: #33C98C;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25181,#u25608
{
	border-style: none;
	border-color: transparent;
	background-color: #DDDDDD;
	position: relative;
}

#u23757-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FCFCFC;
	position: relative;
}

#u23787
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo2_small-599282a4aabd28e764c2852cbfa6cf6c.png") no-repeat center center;
	background-size: contain !important;
}

#accordionu23758wrapper
{
	display: inline;
	float: left;
	position: relative;
}

#u23760-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

#u23760-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
}

#u23760-4.AccordionPanelTabOpen p
{
	color: #008AD5;
	visibility: inherit;
}

#u23761
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u25178,#u25191,#u25192,#u25185,#u25180,#u25183,#u23828,#u23829,#u23830,#u23822,#u23823,#u24835,#u24072,#u23810,#u24677,#u24073,#u23799,#u23808,#u24074,#u23813,#u23806,#u25606,#u25614,#u25607,#accordionu23758,#u23759,#u23763
{
	position: relative;
}

#u23767,#u23764,#u23765,#u23766
{
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u23762-4
{
	text-align: right;
	line-height: 1.1;
	color: #008AD5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u23782
{
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/tumblr_l7mdqfguzx1qculc7o1_500-u13893-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/tumblr_l7mdqfguzx1qculc7o1_500132x120.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

