#u2027
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo2_small-599282a4aabd28e764c2852cbfa6cf6c.png") no-repeat center center;
	background-size: contain !important;
}

#accordionu21846wrapper
{
	display: inline;
	float: left;
	position: relative;
}

#u21852-8
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u21852-8.AccordionPanelTabOpen
{
	background-color: transparent;
}

#u21852-8.AccordionPanelTabOpen p,#u21852-8.AccordionPanelTabOpen span
{
	color: #4F4F4F;
	visibility: inherit;
}

#u21852
{
	font-size: 1px;
	line-height: 0px;
}

#u21889
{
	background: transparent url("../images/images120x147.jpg") no-repeat center center;
	background-size: cover !important;
}

#u21891
{
	border-style: none;
	border-color: transparent;
	background-color: #EEEEEE;
}

#u21892
{
	border-style: none;
	border-color: transparent;
	background-color: #FFD233;
}

#u21853
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u21854-6
{
	line-height: 1.3;
	color: #999999;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u21899-4
{
	background-color: transparent;
	line-height: 1.1;
	position: relative;
}

#u21899-4:hover p
{
	color: #6DB5E2;
	visibility: inherit;
}

#u2136-3,#u2137-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FCFCFC;
	position: relative;
}

#u1319-4
{
	font-size: 14px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
}

#u21899-2,#u1334-2
{
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 700;
}

#u1325-4,#u1333-4,#u1326-4
{
	font-weight: 700;
	position: relative;
}

#u1325-2,#u1333-2,#u1326-2
{
	font-size: 12px;
	font-family: muli, sans-serif;
}

#accordionu21846,#u21851,#u1334-4,#u1323,#u1329
{
	position: relative;
}

